.navbar
{
	background-color: rgb(0, 0, 0) !important;
}

.logo > span, .logo
{
	color: gray !important;
	background-color: #000000 !important;
}

aside .main-sidebar
{
	background-color: #000000 !important;
}

.glowing-border, #txtSex
{
    border: 0.5px solid #dadada !important;
}

.glowing-border:focus, #txtSex:focus 
{
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px darkSlateGray;
}

.skin-blue .main-header, .user-header
{
    background-color: #3c8dbc !important;
}

.user-header p 
{
    color: #000000 !important;
}

#savePatient
{
    margin-right: 8px !important;
    display: inline-block;
}

#txtSex, #txtAge
{
    width: 10em;
}

#savePatient
{
    width: 6em;
}

.color
{
    background-color: #F9F9F9;
}

#paginateTable th
{
    background-color: #1A75D1;
}

#paginateTable tr td
{
    border: 0.5px solid #dadada !important;
}

#paginateTable tr:hover
{
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px darkSlateGray;
}

.pagination a
{
    border: 1px solid #ddd;
}

.pagination .page a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination .page a:hover:not(.active) {background-color: #ddd;}
