{% extends 'base.html.twig' %}

{% block body %}
    {% block header %}
        {% include 'Main/header.html.twig' %}
    {% endblock %}
    
    {% block main_nav %}
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar" style="background-color: #000000;">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->

                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header "style="color: white; letter-spacing: 2px; background-color: darkSlateGray;">MAIN NAVIGATION &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-hospital-o"></i></li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-h-square"></i>
                            <span>Patients</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="{{ path('paginate') }}"><i class="fa fa-users text-aqua"></i> View Records</a></li>
                            <li><a href="pages/charts/morris.html"><i class="fa fa-pencil text-orange"></i> Edit Record</a></li>
                            <li><a href="{{ path('renderAdd') }}"><i class="fa fa-plus text-green"></i> Add Record</a></li>            
                        </ul>
                    </li>

                    <li><a href="https://adminlte.io/docs"><i class="fa fa-pie-chart"></i> <span>Activities</span></a></li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-edit"></i> <span>Forms</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="pages/forms/general.html"><i class="fa fa-tags text-red"></i> SSS</a></li>
                            <li><a href="pages/forms/advanced.html"><i class="fa fa-tags text-aqua"></i> PagIbig</a></li>
                            <li><a href="pages/forms/editors.html"><i class="fa fa-tags text-orange"></i> Philhealth</a></li>
                            <li><a href="pages/forms/editors.html"><i class="fa fa-tags text-purple"></i> Health Card</a></li>
                        </ul>
                    </li>

                    <li><a href="https://adminlte.io/docs"><i class="fa fa-user-md"></i> <span>Doctors</span></a></li>

                    <li>
                        <a href="pages/calendar.html">
                            <i class="fa fa-calendar"></i> <span>Calendar</span>
                            <span class="pull-right-container">
                                <small class="label pull-right bg-red">3</small>
                                <small class="label pull-right bg-blue">17</small>
                            </span>
                        </a>
                    </li>        

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-cog text-blue"></i> <span>Admin Panel</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="pages/forms/general.html"><i class="fa fa-user-plus text-aqua"></i> Add User</a></li>
                            <li><a href="pages/forms/general.html"><i class="fa fa-edit text-green"></i> Edit User</a></li>
                            <li><a href="pages/forms/general.html"><i class="fa fa-user-times text-red"></i> Delete User</a></li>
                        </ul>
                    </li>

                    <li class="header" style="color: white; letter-spacing: 2px; background-color: darkSlateGray;"><span>CONTACT US</span></li>
                    <li><a><i class="glyphicon glyphicon-phone-alt text-purple"></i><span>:&nbsp;&nbsp;&nbsp; 42368247</span></a></li>
                    <li><a><i class="glyphicon glyphicon-phone text-red"></i><span>:&nbsp;&nbsp;&nbsp; +639194259863</span></a></li>
                    <li><a><i class="glyphicon glyphicon-envelope text-yellow"></i><span>:&nbsp;&nbsp;&nbsp; hot@hotmail.com</span></a></li>
                    <li><a><i class="fa fa-skype text-aqua"></i><span>:&nbsp;&nbsp;&nbsp; clinic.hospital</span></a></li>

                    <li class="developer" style="letter-spacing: 2px; margin-top: 0.8em;"><a href="#" style="color: slateGray;"><span>About the Developer</span></a></li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
    {% endblock %}
    
    {% block main %} {% endblock %}
    
    {% block pages %} {% endblock %}
    
    {% block footer %}
        {% include 'Main/footer.html.twig' %}
    {% endblock %}
{% endblock %}	
